<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Alpha's Website</title>
    
    <link rel="stylesheet" href ="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../style.css" />
<!-- <script src="script.js"></script> -->
</head>

  <header>
    <div class="wrapper">
      <h3 id="main-header">Alpha Kaba</h3>

      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <ul class="collapse navbar-collapse p-0 m-0" id="navbarNav">
              <li><a class="nav-link" href="#">Home</a></li>
              <li><a class="nav-link" href="#resume">Resume</a></li>
              <li><a class="nav-link" href="#courses">Courses</a></li>
              <li><a class="nav-link" href="#projects">Projects</a></li>
              <!--<li><a class="nav-link" href="experiences.html">Experiences</a></li>-->
              <li><a class="nav-link" href="#contact">Contact</a></li>
              <!-- <li><a class="nav-link" href="https://github.com/alphaka"> GitHub</a></li> -->
            
          </ul>
      </nav>
    </div>
  </header>
  <body>
    <!--welcome-->
    <section id="welcome">
      <div class="welcome container">
        <div>
          <h1>Hello there,<span></span></h1>
          <h1>From<span></span></h1>
          <h1>Alpha<span></span></h1>
        </div>
      </div>
    </section>
    <!--end welcome-->

    <!--about me-->
    <section id="about">
      <div class="about container">
        <div class="col-right">
          <h1 class="section-title">About<span> me</span></h1>
          <h2 class="role"><span>Computer Science </span>and Electrical Engineer Student</h2>
          <div class="col-left">
            <div class="about-img">
              <img src="./img/Alpha-1.jpg" width="375" height="380" alt="picture" />
            </div>
          </div>
        <p class="m-5">
          I am a rising junior with great self-learning skills and a willingness to embrace new 
          tools and technologies. Committed and enthusiastic candidate looking forward to work on 
          projects that will positively impact countless lives throughout the world. Highly articulate 
          with excellent writing skills. Work effectively and well with colleagues and the public of widely 
          differing ages, cultures, and nationalities. <br>

        I have a deep interest in software engineering, electrical engineering, and robotics. Should you have any questions, please, feel free to join me at kabaa346@gmail.com
        </p>
        <div id="resume" ><a href="Resume.pdf">Download Resume</a></div>
      </div>
    </section>
    <!--end about me-->

    <!--Courses-->
    <section id="courses">
      <div class="courses-container">
        <div class="courses-top">
          <h1 class="section-title">Cou<span>r</span>ses</h1>
          <p>
            <span>Below, you will discover all the </span>classes I've taken
            related to my majors.
          </p>
        </div>
        
         <div class="course-bottom">
              <div class="courses-item">
                <img src="img/cs.png" alt="courses.img"/>
                  <h2>Computer Science</h2>
                  <ul>
                    <li>Data Structures and Algorithms</li>
                    <li>Introduction to Modern Programming Techniques (OOP)</li>
                    <li>Computers and Ehics</li>
                    <li>Programming Paradigms in C++</li>
                    <li>Discrete Mathematics</li>
                    <li>Introduction to Java Programming</li>
                  </ul>
              </div>
          
              <div class="courses-item">
                <img src="img/math.png" alt="courses.img"/>
                <h2>Mathematics</h2>
                <ul>
                  <li>Linear Algebra</li>
                  <li>Probability and Statistics I</li>
                  <li>Differential Equations</li>
                  <li>Calculus I</li>
                  <li>Calculus II</li>
                  <li>Multivariable-Calculus</li>
                </ul>
              </div>
              
              <div class="courses-item">
                  <img src="img/physics.png" alt="courses.img"/>
                  <h2>Science</h2>
                  <ul>
                    <li>Circuit Analysis</li>
                    <li>Engineering Mechanics</li>
                    <li>Modern Physics</li>
                    <li>Calculus-Based General Physics I</li>
                    <li>Calculus-Based General Physics II</li>
                    <li>General Chemistry I</li>
                  </ul>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Courses-->

    <!--Skills-->
    <section id="skills">
      <h1>SK<span>IL</span>LS</h1>
      <div id="carouselExampleIndicators" class="carousel slide hover" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
          <!-- First Carousel -->
          <div class="carousel-item active">
            <div class="row">
              
              <div class="col-4">
                <div class="card">
                  <img class="card-img-top" src="/img/skills/crud.png" alt="crud">
                  <div class="card-body">
                    <h5 class="card-title">CRUD</h5>
                    <p class="card-text text-muted">Intermediate</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <img class="card-img-top" src="/img/skills/c++.png" alt="c++">
                  <div class="card-body">
                    <h5 class="card-title">C++</h5>
                    <p class="card-text text-muted">Advanced</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <img class="card-img-top" src="/img/skills/bash.png" alt="bash">
                  <div class="card-body">
                    <h5 class="card-title">Bash</h5>
                    <p class="card-text text-muted">Advanced</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- Second Carousel -->
          <div class="carousel-item">
            <div class="row">
              <div class="col-4">
                <div class="card">
                  <img class="card-img-top" src="/img/skills/java.png" alt="java">
                  <div class="card-body">
                    <h5 class="card-title">Java</h5>
                    <p class="card-text text-muted">Advanced</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <img class="card-img-top" src="/img/skills/eclipse.png" alt="eclipse">
                  <div class="card-body">
                    <h5 class="card-title">Eclipse</h5>
                    <p class="card-text text-muted">Adept</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <img class="card-img-top" src="/img/skills/expressjs.png" alt="express">
                  <div class="card-body">
                    <h5 class="card-title">Express.js</h5>
                    <p class="card-text text-muted">Intermediate</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- Third Carousel -->
          <div class="carousel-item">
            <div class="row">
              
              <div class="col-4">
                <div class="card">
                  <img class="card-img-top" src="/img/skills/html.png" alt="html">
                  <div class="card-body">
                    <h5 class="card-title">HTML</h5>
                    <p class="card-text text-muted">Proficient</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <img class="card-img-top" src="/img/skills/css.png" alt="css">
                  <div class="card-body">
                    <h5 class="card-title">CSS</h5>
                    <p class="card-text text-muted">Proficient</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <img class="card-img-top" src="/img/skills/js.png" alt="js">
                  <div class="card-body">
                    <h5 class="card-title">JavaScript</h5>
                    <p class="card-text text-muted">Proficient</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- Fourth Carousel -->
          <div class="carousel-item">
            <div class="row">
              
              <div class="col-4">
                <div class="card">
                  <img class="card-img-top" src="/img/skills/mongodb.png" alt="mongodb.png">
                  <div class="card-body">
                    <h5 class="card-title">MongoDB</h5>
                    <p class="card-text text-muted">Intermediate</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <img class="card-img-top" src="/img/skills/netbeans.png" alt="netbeans">
                  <div class="card-body">
                    <h5 class="card-title">NetBeans</h5>
                    <p class="card-text text-muted">Proficient</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <img class="card-img-top" src="/img/skills/nodejs.png" alt="nodejs">
                  <div class="card-body">
                    <h5 class="card-title">Node.js</h5>
                    <p class="card-text text-muted">Intermediate</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- Fifth Carousel -->
            <div class="carousel-item">
            <div class="row">
              
              <div class="col-4">
                <div class="card">
                  
                  <img class="card-img-top" src="/img/skills/python.png" alt="python">
                  <div class="card-body">
                    <h5 class="card-title">Python</h5>
                    <p class="card-text text-muted">Intermediate</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <img class="card-img-top" src="/img/skills/sqlite.png" alt="sqlite">
                  <div class="card-body">
                    <h5 class="card-title">SQLite</h5>
                    <p class="card-text text-muted">Intermediate</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <img class="card-img-top" src="/img/skills/swift.png" alt="swift">
                  <div class="card-body">
                    <h5 class="card-title">Swift</h5>
                    <p class="card-text text-muted">Upper Intermediate</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- Sixth Carousel -->
            <div class="carousel-item">
            <div class="row offset-2">
              
              <div class="col-4">
                <div class="card">
                  <img class="card-img-top" src="/img/skills/vscode.png" alt="vscode">
                  <div class="card-body">
                    <h5 class="card-title">VS Code</h5>
                    <p class="card-text text-muted">Proficient</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <img class="card-img-top" src="/img/skills/xcode.png" alt="xcode">
                  <div class="card-body">
                    <h5 class="card-title">XCode</h5>
                    <p class="card-text text-muted">Proficient</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Skills-->

    <!--Projects-->
    <section id="projects">
      <h1>PRO<span>JE</span>CTS</h1>
      <div class="projects">
        <!-- first row -->
        <div class="row mx-5">
          <div class="card mr-lg-5 col-md-6 order-1">
            <img src="./img/projects/flashcard.gif" class="card-img-top" alt="flashcard">
            <div class="card-body">
              <h5 class="card-title">Flashcard App</h5>
              <p class="card-text">iOS Flashcard App built from scratch using Swift on XCode.</p>
              <a href="https://github.com/alphaka/Flashcard2"><i class="fas fa-link"></i></a>
            </div>
          </div>
          <div class="card col-md-6 order-2">
            <img src="./img/projects/website.gif" class="card-img-top" alt="Website">
            <div class="card-body">
              <h5 class="card-title">This Website</h5>
              <p class="card-text">Of course, this responsive webpage is implemented using HTML, CSS, and JavaScript .</p>
              <a href="#"><i class="fas fa-link"></i></a>
            </div>
          </div>
        </div>
        <!-- second row -->
        <div class="row mx-5">
          <div class="card mr-lg-5 col-md-6 order-1">
            <img src="./img/projects/whereWYG.png" class="card-img-top" alt="whereWYG">
            <div class="card-body">
              <h5 class="card-title">Where Would You Go?</h5>
              <p class="card-text">A beautiful responsive website designed using CSS bootstrap and HTML</p>
              <a href="https://alphaka.github.io/Where-would-you-go/#"><i class="fas fa-link"></i></a>
            </div>
          </div>
          <div class="card col-md-6 order-2">
            <img src="./img/projects/banking.png" class="card-img-top" alt="banking">
            <div class="card-body">
              <h5 class="card-title">Banking System</h5>
              <p class="card-text">A heavy object oriented programming project designed using java</p>
              <a href="https://github.com/alphaka/BankingSystem"><i class="fas fa-link"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End Projects-->
      
    <!--Contact-->
    <section id="contact">
      <h1>CON<span>T</span>ACT</h1>
      <div class="contact" >
        <div class="row d-flex align-justify-center">
          <div class="d-flex card col-8 col-lg-4 mr-lg-5 order-1 ">
              <div class="row d-block location">
                <i class="fas fa-map-marker-alt"></i>
                <p>New York, NY</p>
              </div>
              <div class="row d-block email mb-5">
                <i class="fas fa-envelope"></i>
                <p>kabaa346@gmail.com</p>
              </div>
              <div class="row d-block phone mb-5">
                <i class="fas fa-phone"></i>
                <p>1 (917) 258-9178</p>
              </div>
          </div>
          <div class="card col-8 col-lg-7 order-2">
            <!-- form starting -->
            <form class="needs-validation my-2" novalidate action="contact" method="POST">
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="name">Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Enter a subject" required>
                  <div class="valid-feedback">
                      I like your name!
                  </div>
                  <div class="invalid-feedback">
                      Please provide your name.
                  </div> 
                </div>
                <div class="col-md-6 mb-3">
                  <label for="email">Email</label>
                  <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" required>
                  <div class="valid-feedback">
                      Great!
                  </div>
                  <div class="invalid-feedback">
                      Please provide your email address.
                  </div> 
                </div>
              </div> 


              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <label for="subject">Subject</label>
                  <input type="text" name="subject" class="form-control" id="subject" placeholder="Enter your subject" required>
                  <div class="valid-feedback">
                    Great!
                  </div>
                  <div class="invalid-feedback">
                    Please provide a subject.
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <label for="message">Message</label>
                  <textarea name="message" id="message" rows="8" cols="60" class="form-control" required></textarea> 
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please leave me a message.
                  </div>
                </div>
              </div>
              <button class="btn btn-dark" type="submit">Send</button>
            </form>
            <!-- form end -->
          </div>
        </div>
      </div>
    </section>
    <!--End Contact-->

    <!--top arrow-->
    <a class="gotopbtn" href="#"><i class="far fa-arrow-alt-circle-up"></i> </a>
    <!--end top arrow-->

    <!--Footer-->
    <footer>
      <section id="footer">
        <div class="footer">
          <p class="social">Follow <span>Me</span></p>

          <a
            class="fab fa-facebook"
            href="https://www.facebook.com/profile.php?id=100003481549572"
          ></a>
          <a class="fa fa-github" href="https://github.com/alphaka"></a>
          <a
            href="https://twitter.com/AlphaKabinetKa9"
            class="fa fa-twitter"
          ></a>
          <a
            href="https://www.instagram.com/alpha96x/"
            class="fa fa-instagram"
          ></a>
          <a
            href="https://www.linkedin.com/in/alphak/"
            class="fa fa-linkedin"
          ></a>
          <p class="copyright">
            Copyright &copy; 2021 Alpha Kaba. All rights reserved. Made with
            <i class="fas fa-heart hover-white"></i> &amp;
            <i class="fas fa-coffee"></i> in NYC
          </p>
        </div>
      </section>
    </footer>
    <!--End Footer-->

    <!-- Bootstrap JS and JQuery -->
    
    
    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  </body>
</html>
